.title{
    font-size: 90px;
    color: rgba(137, 43, 226, 0.225);
}
input,span,.Li{
    margin-left: 33%;
    outline: none;
    position: relative;
}
input,.Li{color: rgba(128, 128, 128, 0.878);}

span{margin-top: -24px; font-size: 14px; color: rgb(175, 163, 163);}

button{float: right;font-size: 10px; color: rgba(128, 128, 128, 0.878);}


